<div id="main">

    <!-- One -->
    <section id="one">
        <div class="image main" data-position="center">
            <img src="/public/images/banner.png" alt="" />
        </div>
    </section>
    <!-- Three -->
    <section id="three">
        <div class="container">
            <h3>Publicaciones</h3>
            <!-- PUBLICACIONES -->
            <div class="features">
                <!-- PUBLICACIÓN -->
                <article class="publicaciones">
                    <div class="inner2">
                        <img src="/public/images/avatar.jpg" alt="">
                        <h4>{{userBulo.name}} <i>{{userBulo.email}}</i></h4>
                        {{#if user}}
                        <button class="borrar" id="btn-delete" data-id="{{bulo._id}}">Borrar</button>
                        {{/if}}
                        <p> {{bulo.description}} </p>
                    </div>
                    {{#if bulo.filename}}
                    <a href="/public/upload/{{bulo.filename}}" class="image"><img src="/public/upload/{{bulo.filename}}" alt="" /></a>
                    {{/if}}
                    <div class="publication-footer">
                        <button class="btn-like" id="btn-like" data-id="{{bulo._id}}">
                            <i class="fas fa-thumbs-up"></i> Like
                        </button>
                        <p>
                            <span class="likes-count">{{bulo.likes}}</span>
                            <i class="fas fa-heart"></i>
                        </p>
                        <p>
                            <i class="fas fa-eye"></i> {{bulo.views}}
                        </p>
                        <p>
                            <i class="far fa-clock"></i> {{timeago bulo.timestamp}}
                        </p>
                    </div>
                    <!-- FORMULARIO COMENTARIO -->
                    <form action="/bulo/{{bulo._id}}/comment" method="POST">
                        <textarea name="comment" placeholder="Escribe tu comentario" required></textarea>
                        <input type="submit" value="Comentar">
                    </form>
                    <!-- COMENTARIO -->
                    {{#each comments}}
                    <article class="publicaciones"
                        style="background-color: #005bcf;padding: 10px;border-radius: 15px;border: solid 3px #f4f4f4;">
                        <div class="inner2" style="background-color: #cdf8ff;border-radius: 10px;padding: 10px;">
                            <img src="/public/images/avatar.jpg" alt="">
                            <h4>{{userComment.name}} <i>{{userComment.email}}</i></h4>
                            <p> {{comment.comment}} </p>
                        </div>
                    </article>
                    {{/each}}
                </article>
            </div>
        </div>
    </section>
</div>